* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6ecec;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #7874d0
}

span{
    color: #9a3aef;
    font-weight: bold;
}

.container{
    margin-top: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 32px;
}

.title{
    margin-bottom: 40px;
}

ul {
    list-style: none;
}

